@tailwind base;
@tailwind components;
@tailwind utilities;

.table :where(th, td) {
  padding-left: 10px /* 16px */;
  padding-right: 10px /* 16px */;
  padding-top: 8px /* 12px */;
  padding-bottom: 8px /* 12px */;
  vertical-align: middle;
}
