@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.table :where(th, td) {
  padding-left: 10px /* 16px */;
  padding-right: 10px /* 16px */;
  padding-top: 8px /* 12px */;
  padding-bottom: 8px /* 12px */;
  vertical-align: middle;
}

body {
  font-family: "Poppins", serif;
}
/* a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  transition: color 0.3s ease, font-weight 0.3s ease;
} */

a.active {
  color: #6733f5;
  font-weight: bold;
}
