@tailwind base;
@tailwind components;
@tailwind utilities;

.table :where(th, td) {
  padding-left: 10px /* 16px */;
  padding-right: 10px /* 16px */;
  padding-top: 8px /* 12px */;
  padding-bottom: 8px /* 12px */;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

a:hover {
  color: #ff5733;
}

a.active {
  color: #1d4ed8;
  border-bottom: 2px solid #1d4ed8;
}
